
pandas==2.2.3
nltk==3.9.1
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
vaderSentiment
gensim
scikit-learn==1.6.0
joblib
pyarrow==18.1.0
rapidfuzz

#hugging face related
datasets
sentence_transformers
faiss

#llm related
openai
langchain   
langchain_community
langgraph
chromadb
langchain-chroma
langchain-openai 


#api 
fastapi

#streamlit
streamlit

#sound
sounddevice
librosa
openai-whisper
SpeechRecognition
pyttsx3